<div class="left-content">
  <div class="content-header">
    <div class="channel-contents">
      <ul>
        <li>
          <a href="#"></a>
          <span><img src = "images/sky1.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/sky2.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/sky3.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/sky4.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/sky5.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/skynews.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/skyf1.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/bts1.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/bts2.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/btsespn.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/bteuro.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/eurosport.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/eurosport2.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/skycalcio.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/skysport1.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/skysport2.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/bein1.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/sportsNetWorld.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/sportsnet_one.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/Sportsnet_ontario.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/nbcsn.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/espn.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/espn2.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/foxhd.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/fox2hd.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/tsn.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/nfl.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/nba.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/golf.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/atrace.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/boxnation.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/ptv.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/premiersport.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/mutv.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/chelseatv.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/motorstv.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/starsport.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/bbc.png" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
        <li>
          <a href="#"></a>
          <span><img src = "images/bbc.jpg" /></span>
          <span><img src = "images/onair.png" /></span>
        </li>
      </ul>
    </div>
  </div>
</div>
