
  <body>
    <% include ../../Navbar.ejs %>
    <% include ../../Sidebar.ejs %>
    <div class="middle-content">
      <section class="wrapper">
        <section class="pannel">
          <div id="timezone" title="set clock to your time zone to change game times">
            <span class="sprite-icons clock"></span>
            <span style="color:#ffffff;font-weight: bold;">| Website Timezone: GMT +01:00 Europe/London |</span>
            <span style="padding-right: 5px;"></span>
          </div>
            <div class="HomeTable">
              <br>
              <table>
                <tbody>
                  <tr>
                    <td style="width:8px">#</td>
                    <td style="width:52px">Date</td>
                    <td>Time</td>
                    <td style="width:10px">F</td>
                    <td style="width:15px">Com</td>
                    <td>Title</td>
                    <td style="width:18px">Live</td>
                    <td style="width:16px">Ads</td>
                    <td style="width:18px">Stat</td>
                  </tr>
                  <tr>
                    <td><span><img src = "src/golf.png" /></span></td>
                    <td>Date<br>Day</td>
                    <td class="matchtime" style="color:#545454;font-weight:bold;font-size: 9px">21:30</td>
                    <td><span class="flag eng"></span></td>
                    <td>Horse Race</td>
                    <td style="color:#545454;font-weight:bold;font-size: 11px"><a style="text-decoration:none !important;color:#545454;" href="/game">Stateside US Horse Racing</a></td>
                    <td><input type="button" name="Submit" value= "Watch" href="http://www.google.com"></td>
                    <td>HD+</a></td>
                    <td class=""></td>
                  </tr>
                </tr>
               </tbody>
             </table>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
