<div class="middle-content">
  <section class="wrapper">
    <section class="pannel">
      <div id="timezone" title="set clock to your time zone to change game times">
        <span class="sprite-icons clock"></span>
        <span style="color:#ffffff;font-weight: bold;">| Website Timezone: GMT +01:00 Europe/London |</span>
        <span style="padding-right: 5px;"></span>
      </div>
      <div>
        <img class="live-match-header" src="images/live-match-header.png" />
      </div>
        <div class="HomeTable">
          <br>
          <table>
            <tbody>
              <tr>
                <td style="width:8px">#</td>
                <td style="width:52px">Date</td>
                <td>Time</td>
                <td style="width:10px">F</td>
                <td style="width:15px">Com</td>
                <td>Title</td>
                <td style="width:18px">Live</td>
                <td style="width:16px">Ads</td>
                <td style="width:18px">Stat</td>
              </tr>

              <tr>
                <td><span><img src = "src/golf.png" /></span></td>
                <td>today</td>
                <td class="matchtime" style="color:#545454;font-weight:bold;font-size: 9px">21:30</td>
                <td><span class="flag eng"></span></td>
                <td>Horse Race</td>
                <td style="color:#545454;font-weight:bold;font-size: 11px"><a style="text-decoration:none !important;color:#545454;" href="http://cricfree.sc/watch/live/stateside-us-horse-racing-live-streaming">Stateside US Horse Racing</a></td>
                <td><input type="button" name="Submit" value= "Watch" href="http://www.google.com"></td>
                <td>HD+</a></td>
                <td><span class="live">live</span></td>
              </tr>

              <tr>
                <td><span><img src = "src/soccer.png" /></span></td>
                <td>Today<br>Tuesday</td>
                <td class="matchtime" style="color:#545454;font-weight:bold;font-size: 9px">23:30</td>
                <td><span class="flag eng"></span></td>
                <td>NCAAB</td>
                <td style="color:#545454;font-weight:bold;font-size: 11px"><a style="text-decoration:none !important;color:#545454;" href="#">South Carolina vs Auburn</a></td>
                <td><a href="http://www.google.com"><input class = "orange" type="button" value="Watch"></td></a>
                <td>HD+</a></td>
                <td class=""></td>
              </tr>

              <tr>
                <td><span><img src = "src/football.png" /></span></td>
                <td>24-Jan-2017<br>Tuesday</td>
                <td class="matchtime" style="color:#545454;font-weight:bold;font-size: 9px">23:30</td>
                <td><span class="flag eng"></span></td>
                <td>Australian Open</td>
                <td style="color:#545454;font-weight:bold;font-size: 11px"><a style="text-decoration:none !important;color:#545454;" href="http://cricfree.sc/watch/live/the-australian-open-live-streaming" target="_blank">The Australian Open</a></td>
                <td><input type="button" name="Submit" class="myButton" value="Watch" onclick="javascript: return SubmitForm('http://cricfree.sc/watch/live/the-australian-open-live-streaming',97180)"></td>
                <td>HD+</a></td>
                <td class=""></td>
              </tr>

              <tr>
                <td><span><img src = "src/bandy.png" /></span></td>
                <td>Today<br></td>
                <td class="matchtime" style="color:#545454;font-weight:bold;font-size: 9px">00:00</td>
                <td><span class="flag eng"></span></td>
                <td>NBA</td>
                <td style="color:#545454;font-weight:bold;font-size: 11px"><a style="text-decoration:none !important;color:#545454;" href="http://cricfree.sc/watch/live/washington-wizards-vs-boston-celtics-live-streaming">Washington Wizards vs Boston Celtics</a></td>
                <td><input type="button" name="Submit" class="myButton" value="Watch" onclick="javascript: return SubmitForm('http://cricfree.sc/watch/live/washington-wizards-vs-boston-celtics-live-streaming',97301)"></td>
                <td>HD+</a></td>
                <td class=""></td>
              </tr>

              <tr>
                <td><span><img src = "src/basketball.png" /></span></td>
                <td>Today<br></td>
                <td class="matchtime" style="color:#545454;font-weight:bold;font-size: 9px">00:00</td>
                <td><span class="flag eng"></span></td>
                <td>NCAAB</td>
                <td style="color:#545454;font-weight:bold;font-size: 11px"><a style="text-decoration:none !important;color:#545454;" href="http://cricfree.sc/watch/live/rutgers-vs-maryland-live-streaming" target="_blank">Rutgers vs Maryland</a></td>
                <td><input type="button" name="Submit" class="myButton" value="Watch" onclick="javascript: return SubmitForm('http://cricfree.sc/watch/live/rutgers-vs-maryland-live-streaming',97398)"></td>
                <td>HD+</a></td>
                <td class=""></td>
              </tr>
            </tr>
           </tbody>
         </table>
      </div>
    </section>
  </section>
</div>
