<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" href="navbar.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/images/favnew.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script href = "glyphicon.js" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/c3a673abba.js"></script>
    <link rel="stylesheet" href="flags.css">
  </head>
  <div id="header">
    <div id="header_main">
      <a href="#" target="_parent"><span class="moreicons watchSport"></span></a>
      <div class="socialicon">
      </div>
    </div>
  </div>
  <div class="myLogo">
    <img src="images/logo.png" />
  </div>

  <div id="navbar">
  <nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/nfl">NFL</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Football<b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="#">English Premier League </a></li>
              <li><a href="#">English FA Cup</a></li>
              <li><a href="#">English Championship</a></li>
              <li><a href="#">Enlish Football Leauge Cup</a></li>
              <li><a href="#">UEFA Champions League</a></li>
              <li><a href="#">UEFA Europa League</a></li>
              <li><a href="#">Spanish La Liga</a></li>
              <li><a href="#">Italian Serie A</a></li>
              <li><a href="#">Bundesliga</a></li>
              <li><a href="#">DFB Pokal</a></li>
              <li><a href="#">French League 1</a></li>
              <li><a href="#">French Cup</a></li>
              <li><a href="#">Scotish Premier League</a></li>
              <li><a href="#">Scotish FA Cup</a></li>
              <li><a href="#">Scotish Championship</a></li>
              <li><a href="#">Dutch Eredivisie</a></li>
              <li><a href="#">Dutch Eerste Divisie</a></li>
              <li><a href="#"></a></li>
          </ul>
        </li>
        <li><a href="#">Baseball</a></li>
        <li><a href="#">Cricket</a></li>
        <li><a href="#">Basketball</a></li>
  			<li><a href="#">UFC</a></li>
        <li><a href="#">Boxing</a></li>
        <li><a href="#">Hockey</a></li>
        <li><a href="#">Golf</a></li>
        <li><a href="#">Tennis</a></li>
        <li><a href="#">WWE</a></li>
        <li><a href="#">Snooker</a></li>
        <li><a href="#">Rugby</a></li>
        <li><a href="#">Vollyball</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href="#">Handball</a></li>
              <li><a href="#">AFL</a></li>
          </ul>
        </li>
      </ul>
    </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
