    <div class="channel-contents">
      <ul>
        <li>
          <a href="/sky1">
          <span class="channel-img"><img src = "images/sky1.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="sky2">
          <span class="channel-img"><img src = "images/sky2.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="sky3">
          <span class="channel-img"><img src = "images/sky3.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="sky4">
          <span class="channel-img"><img src = "images/sky4.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="sky5">
          <span class="channel-img"><img src = "images/sky5.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/skysportnews">
          <span class="channel-img"><img src = "images/skynews.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/skysportf1">
          <span class="channel-img"><img src = "images/skyf1.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/btsport">
          <span class="channel-img"><img src = "images/bts1.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/btsport2">
          <span class="channel-img"><img src = "images/bts2.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/btespn">
          <span class="channel-img"><img src = "images/btespn.jpeg" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/bteuro">
          <span class="channel-img"><img src = "images/bteuro.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/eurosport1">
          <span class="channel-img"><img src = "images/eurosport.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/eurosport2">
          <span class="channel-img"><img src = "images/eurosport2.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/skycalcio">
          <span class="channel-img"><img src = "images/skycalcio.jpeg" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/skysport1">
          <span class="channel-img"><img src = "images/skysport1.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/skysport2">
          <span class="channel-img"><img src = "images/skysport2.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/beinsport">
          <span class="channel-img"><img src = "images/bein1.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/sportsnetworld">
          <span class="channel-img"><img src = "images/sportsNetWorld.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/sportsnetone">
          <span class="channel-img"><img class="img-width-increase" src = "images/sportsnet_one.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/sportsnetontario">
          <span class="channel-img"><img class="img-width-increase" src = "images/Sportsnet_ontario.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/nbcsn">
          <span class="channel-img"><img src = "images/nbcsn.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/espn1">
          <span class="channel-img"><img src = "images/espn.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/espn2">
          <span class="channel-img"><img src = "images/espn2.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/foxsport1">
          <span class="channel-img"><img class="img-width-increase" src = "images/foxhd.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/foxsport2">
          <span class="channel-img"><img class="img-width-increase" src = "images/fox2hd.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/tsntv">
          <span class="channel-img"><img class="img-width-increase" src = "images/tsn.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/nfltv">
          <span class="channel-img"><img src = "images/nfl.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="nbachannel">
          <span class="channel-img"><img class="img-width-increase" src = "images/nba.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/golftv">
          <span class="channel-img"><img src = "images/golf.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/attherace">
          <span class="channel-img"><img src = "images/atrace.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/boxnation">
          <span class="channel-img"><img class="img-width-increase" src = "images/boxnation.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="ptv">
          <span class="channel-img"><img class="img-width-increase" src = "images/ptv.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/premiersport">
          <span class="channel-img"><img class="img-width-increase" src = "images/premiersport.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/mutv">
          <span class="channel-img"><img class="img-width-increase" src = "images/mutv.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/chelseatv">
          <span class="channel-img"><img class="img-width-increase" src = "images/chelseatv.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/motorstv">
          <span class="channel-img"><img class="img-width-increase" src = "images/motorstv.png" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="/starsport">
          <span class="channel-img"><img class="img-width-increase" src = "images/starsport.svg" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="bbc1">
          <span class="channel-img"><img src = "images/bbc.svg" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="bbc2">
          <span class="channel-img"><img src = "images/bbc.svg" /><span class="live">Live</span> <i class="fa fa-chevron-left" aria-hidden="true"></i></span>
          </a>
        </li>
      </ul>
    </div>
