<% include ../../Navbar.ejs %>
<% include ../../Sidebar.ejs %>
<div>
  <div>
    <img class="live-match-header" style="margin-left: 3px" src="images/header-vollyball.png" />
  </div>
  <div class="live-matches">
    <table  class="table">

      <!-- <tr>
        <td>
          <span><img src="src/basketball.png" /></span>
        </td>
        <td>
          <span>today</span>
        </td>
        <td>
          <span>real madrid vs barcelona</span>
        </td>
        <td>
          <span><a href="#"><button>Watch</button></a></span>
        </td>
      </tr> -->

<h1>THERE ARE NOT EVENTS</h1>
    </table>
  </div>
</div>
